$header_height: 50px;

//Fonts
$font-rasa: 'Rasa', serif;
$font-roboto: 'Roboto', sans-serif;
$font-weight-normal: 400;

//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red: #be1e2d;
$color-grey: #d1d3d4;
